body{
    background-color:#eee5da;
}

header{
    background-color:#F7F3E9;
    text-align:center;
}

h2{
    color:#A67C52;
    font-size:70px;
    font-family:serif;
    margin:0;
    padding-bottom:40px;
}

#logo{
    display:block;
    width:300px;
    margin:auto;
}

h3{
    text-align:center;
    font-size:50px;
    color:#A67C52;
    text-decoration:underline;
}

.product{
    width:90%;
    margin:20px auto;
    display:flex;
    background:#F7F3E9;
    border:1px solid #ccc;
    border-radius:12px;
    padding:10px;
}

.pic{
    width:300px;
    height:250px;
    border-radius:10px;
}

.details{
    margin-left:30px;
}

.name{
    font-size:32px;
    font-weight:bold;
    color:black;
}

.flavour{
    font-size:22px;
    color:#555;
}

.price{
    font-size:28px;
    color:#8B0000;
    font-weight:bold;
}

footer{
    text-align:center;
    background:#F7F3E9;
    color:#886e41;
    font-size:20px;
    padding:20px;
}

h4{
    font-size:30px;
}

ul{
    display:inline-block;
    text-align:left;
}

@media screen and (max-width:768px){

    #logo{
        width:220px;
    }

    h2{
        font-size:45px;
    }

    h3{
        font-size:35px;
    }

    .product{
        width:95%;
        padding:8px;
    }

    .pic{
        width:150px;
        height:130px;
    }

    .details{
        margin-left:15px;
    }

    .name{
        font-size:22px;
    }

    .flavour{
        font-size:18px;
    }

    .price{
        font-size:22px;
    }

    h4{
        font-size:24px;
    }
}
