body{
    background-color: #eee5da;
}
header{
    background-color: #F7F3E9;
}
.header{
    text-align: center; 
    justify-content: center;
}
h2{
    color: #A67C52; 
    font-size: 70px; 
    font-family: serif; 
    padding-bottom: 65px; 
    margin-top: 0%; 
    
}
#logo{
    margin: auto; 
    width:750px; 
    align-items: center; 
    padding-top: auto;
}
h3{
    text-align: center; 
    font-size: 50px; 
    color: #A67C52;
    text-decoration-line: underline;
}
.product{
    width:100%;
    display:flex;
    align-items:center;
    background:#F7F3E9;
    border:1px solid #ccc;
    border-radius:12px;
    padding:0px;
    margin-bottom:30px;
}
.pic{
    width:300px;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}
.detail{
    margin-left:70px;
}
.name{
    font-size:32px;
    color:black;
    margin-bottom:12px;
    font-weight:bold;
    margin-left: 30px;
}
.flavour{
    font-size:22px;
    color:#555;
    margin-bottom:18px;
    margin-left: 30px;
}
.p{
    font-size:18px;
    color:#666;
    line-height:28px;
    text-align:justify;
    margin-bottom:20px;
}
.price{
    font-size:28px;
    color:#8B0000;
    font-weight:bold;
    margin-left: 30px;
}
h4{
    padding-top: 50px;
    font-size:30px;
    color:#886e41;
    margin-bottom:10px;
}
.choosen,footer{
    text-align: center;
    background-color: #F7F3E9;
    color: #886e41;
    font-size: larger;
}
ul{
    display: inline-block; 
    text-align: left;
}
